{% extends 'base.html.twig' %}
{% import _self as fn %}

{% macro name(source, value) %}
	{% if source[value] is defined and source[value]|trim is not empty %}
    	<b>{{ source[value] }}</b>
	{% endif %}
{% endmacro %}

{% macro phone(source, value) %}
	{% if source[value] is defined and source[value]|trim is not empty %}
    	<i class="fa fa-phone fa-flip-horizontal"></i>&nbsp; {{ source[value] }} <br>
	{% endif %}
{% endmacro %}

{% macro email(source, value) %}
	{% if source[value] is defined and source[value]|trim is not empty %}
		<i class="fa fa-at"></i>&nbsp; {{ source[value] }} <br>
	{% endif %}
{% endmacro %}

{% block stylesheets %}
	<style type="text/css">
		.user-photo {
			border-radius: 50%;
			overflow: hidden;
			box-shadow: 0px 3px 12px 0 rgba(0, 0, 0, 0.2);
			transition: transform 300ms ease-in-out;
			height: 165px;
			width: 165px;
			background-size: cover;
			background-position: center;
			margin: auto;
		}

		.user-photo.img-big {
			height: 230px;
			width: 230px;
		}

		.user-photo:hover {
			transform: rotate(-5deg) scale(1.05);
		}
		
		.user-details {
			padding: 10px;
			text-align: center;
		}

		#main-contact {
			margin: auto;
		}

		#main-contact td {
			vertical-align: top;
			padding: 5px;
		}
	</style>
{% endblock %}

{% block body %}
    <h1>Contact</h1>

	{% if texts.legend_contact is defined and texts.legend_contact|trim is not empty %}
		<p>{{ texts.legend_contact|markdown }}</p>
    {% endif %}

	<hr>

	<div class="row">
		<div class="col-md-4 col-md-offset-1 col-sm-6">
			<div class="user-card">
				<div class="user-photo img-big" style="background-image: url('{{ asset('images/uploads/bride.jpg') }}');"></div>
				<div class="user-details">
					<b>Aurélie</b> <br>
					{{ fn.phone(texts, 'bride.phone') }}
				</div>
			</div>
		</div>
		<div class="col-md-4 col-md-offset-2 col-sm-6">
			<div class="user-card">
				<div class="user-photo img-big" style="background-image: url('{{ asset('images/uploads/groom.jpg') }}');"></div>
				<div class="user-details">
					<b>Xavier</b> <br>
					{{ fn.phone(texts, 'groom.phone') }}
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12 text-center">
			<table class="text-left" id="main-contact">
				{% if texts['email'] is defined and texts['email']|trim is not empty %}
					<tr>
						<td><i class="fa fa-at"></i></td>
						<td>{{ texts['email']|nl2br }}</td>
					</tr>
				{% endif %}
				{% if texts['address'] is defined and texts['address']|trim is not empty %}
					<tr>
						<td><i class="fa fa-home"></i></td>
						<td>{{ texts['address']|nl2br }}</td>
					</tr>
				{% endif %}
			</table>
			<br>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#directContactModal">
			  Cliquez ici pour nous envoyer un message
			</button>
		</div>
	</div>
	<br>
	
	<div class="modal fade" id="directContactModal" tabindex="-1" role="dialog" aria-labelledby="directContactModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				{{ form_start(form) }}
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="directContactModalLabel">Nous contacter</h4>
					</div>
					<div class="modal-body">

							<div class="form-group">
								<div class="row">
									<div class="col-md-6">
										{{ form_label(form.name) }} <br>
										{{ form_widget(form.name) }}
									</div>
									<div class="col-md-6">
										{{ form_label(form.email) }} <br>
										{{ form_widget(form.email) }}
									</div>
								</div>
							</div>

							<br>

							{{ form_row(form.title) }}
							{{ form_widget(form.content) }}
							
							<br>


					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
						{{ form_widget(form.submit) }}
					</div>				
				{{ form_end(form) }}
			</div>
		</div>
	</div>

{% endblock %}
