{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contactez directement Xavier et Aurélie</h1>

	<br>

    {{ form_start(form) }}

		<div class="form-group">
			{{ form_label(form.surname) }}
			<div class="row">
				<div class="col-md-6">
					{{ form_widget(form.surname) }}
				</div>
				<div class="col-md-6">
					{{ form_widget(form.name) }}
				</div>
			</div>
		</div>
	
		<br>

		{{ form_row(form.email) }}

		<br>

		{{ form_row(form.title) }}
		{{ form_widget(form.content) }}
		
		<br>

		{{ form_row(form.submit) }}

	{{ form_end(form) }}
{% endblock %}
