{% extends 'base.html.twig' %}

{% block body %}

    {% if texts.welcome is defined and texts.welcome|trim is not empty %}
		<h1>{{ texts.welcome|markdown }}</h1>
    {% endif %}
    {% if texts.introduction is defined and texts.introduction|trim is not empty %}
		<p>{{ texts.introduction|markdown }}</p>
    {% endif %}

	<div class="row">
		<div class="col-md-6">
			{{  texts.home_textarea is defined ? texts.home_textarea|markdown : '' }}
			<br><br>
			<img src="{{ asset('images/uploads/index.jpg') }}" alt="Mariage" class="img-responsive img-thumbnail">
		</div>
		<div class="col-md-6">
			<h3>Dernières nouvelles</h3>
			{% include 'blog/_article_preview.html.twig' with {'article': lastBlogArticle} only %}

			<br>

			{% if is_granted('ROLE_ADMIN') or date('today') >= date(wedding_date) %}
				<a href="{{ path('contest_login') }}" class="btn btn-success btn-block">Participez au Concours photos !</a>
			{% endif %}
		</div>
	</div>
{% endblock %}
