{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le site de mariage de Xavier et Aurélie{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		article > div > * {
			display: inline-block;
			vertical-align: top;
		}
		article a[data-fancybox-group] {
			margin: 0 5px 5px 0;
		}

        article img {
            width: 250px;
        }
	</style>
{% endblock %}

{% block body %}

    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownAdmin">
            <li><a href="{{ path('accommodation_new') }}">Ajouter un hébergement</a></li>
        </ul>
    </div>
    
    <h1>Hébergements</h1>
    

    <h4>Retrouvez une sélection des hébergements environnants.</h4>

    {% for acc in accommodations %}
        
        <hr>

        <article>
            <div class="dropdown pull-right">
                <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownAdmin-{{ acc.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownAdmin-{{ acc.id }}">
                    <li><a href="{{ path('accommodation_edit', {'id': acc.id}) }}">Editer l'hébergement</a></li>
                </ul>
            </div>

            <h2>{{ acc.name }}</h2>

            <div>
                <a data-fancybox-group="gallery" title="{{ acc.name }}" class="fancybox" href="{{ vich_uploader_asset(acc, 'imageFile') }}">
                    <img alt="{{ acc.name }}" src="{{ vich_uploader_asset(acc, 'imageFile') }}">
                </a>

                <p>
                    {{ acc.address|nl2br }}
                    {% if acc.url %} <br>
                        <strong>Site : </strong><a href="{{ acc.url }}">Voir le site</a>
                    {% endif %}
                </p>
            </div>  

            <p>
                {{ acc.details|nl2br }}
            </p>
            {% if acc.pricing %}
                <p>
                    <strong>Tarifs :</strong><br>
                    {{ acc.pricing|nl2br }}
                </p> 
            {% endif %}
        </article>

    {% else %}
        Aucun hébergement n'est renseigné pour l'instant.
    {% endfor %}

    <br>

{% endblock %}
