{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le site de mariage de Xavier et Aurélie{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		article > div > * {
			display: inline-block;
			vertical-align: top;
		}
		article a[data-fancybox-group] {
			margin: 0 5px 5px 0;
		}

        article img {
            width: 250px;
        }
	</style>
{% endblock %}

{% block body %}
    <h1>Hébergements</h1>
    <a href="{{ path('accommodation_new') }}">Ajouter un hébergement</a>

    <h4>Retrouvez une sélection des hébergements environnants.</h4>

    {% for acc in accommodations %}
        
        <hr>

        <article>
            <h2>{{ acc.name }} 
                <small>
                    <a href="{{ path('accommodation_edit', {'id': acc.id}) }}" title="Editer">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </small>
            </h2>

            <div>
                <a data-fancybox-group="gallery" title="{{ acc.name }}" class="fancybox" href="{{ vich_uploader_asset(acc, 'imageFile') }}">
                    <img alt="{{ acc.name }}" src="{{ vich_uploader_asset(acc, 'imageFile') }}">
                </a>

                <p>
                    {{ acc.address|nl2br }}
                    {% if acc.url %} <br>
                        <strong>Site : </strong><a href="{{ acc.url }}">Voir le site</a>
                    {% endif %}
                </p>
            </div>  

            <p>
                {{ acc.details|nl2br }}
            </p>
            {% if acc.pricing %}
                <p>
                    <strong>Tarifs :</strong><br>
                    {{ acc.pricing|nl2br }}
                </p> 
            {% endif %}
        </article>

    {% else %}
        Aucun hébergement n'est renseigné pour l'instant.
    {% endfor %}

    <hr>

    <article>
        <h2>Domaine de Sarson</h2>

        <div>
            <a data-fancybox-group="gallery" title="Domaine de Sarson" class="fancybox" href="https://www.petit-mariage-entre-amis.fr/uploads/xavier-et-aurelie/accomodation/bigthumbs/domaine-de-sarson9555.jpg">
                <img alt="Domaine de Sarson" src="https://www.petit-mariage-entre-amis.fr/uploads/xavier-et-aurelie/accomodation/smallthumbs/domaine-de-sarson9555.jpg">
            </a>

            <p>
                Aurélie Bizeur<br>
                Quartier Sarson, 26230 Grignan, France
            </p>
        </div>  

        <p>
            Nous vous proposons de vous héberger directement sur le lieu de la fête pour vous permettre de danser jusqu'au petit matin sans vous soucier de prendre la voiture pour rentrer. <br> 
            Le domaine peut accueuillir jusque 75 personnes dans des chambres d'une capacité de 2 à 7 personnes.
        </p>
        <p>
            <strong>Tarifs :</strong><br>
            Chaque couchage vous est proposé pour 59€.<br>
            Pour réserver un (ou des) couchage(s) merci de vous adresser directement aux mariés !
        </p> 
    </article>

    <hr>

    <article>
        <h2>Le Pré de l'Aube</h2>

        <div>
            <a data-fancybox-group="gallery" title="Le Pré de l'Aube" class="fancybox" href="https://www.petit-mariage-entre-amis.fr/uploads/xavier-et-aurelie/accomodation/bigthumbs/le-pre-de-l-aube8847.jpg">
                <img alt="Le Pré de l'Aube" src="https://www.petit-mariage-entre-amis.fr/uploads/xavier-et-aurelie/accomodation/smallthumbs/le-pre-de-l-aube8847.jpg">
            </a>

            <p>
                Hameau Le Fraysse, 26230 Montjoyer, France <br>
                <strong>Site : </strong><a href="http://www.lepredelaube.com/">Voir le site</a>
            </p>
        </div>  

        <p>
            Ensemble de 5 chambres d'hôtes de 2 à 4 personnes à partir de 145€/nuit. (prix par nuit pour 2 personnes, petit-déjeuner compris) : <br>
            "Rouge de Mauve", pouvant accueillir 2 personnes au tarif de 155€ <br>
            "Rosée de Septembre", pouvant accueillir 2 personnes au tarif de 165€ <br>
            "Lulu la sucrée", pouvant accueillir 2 personnes au tarif de 175€ <br>
            "Belle de Prin", pouvant accueillir 3 personnes au tarif de 185€* <br>
            "Blanche de Peyssac", pouvant accueillir 4 personnes au tarif de 205€* <br>
            <small>* +30€ pour la 3ème et 4ème personne.</small>
        </p>
        <p>
            Deux gîtes de charme pouvant accueillit 4 personnes chacun, pour les tarifs suivants :<br>
            "Griotte" (un grand lit, un canapé convertible et une salle de bain) : 3 nuits pour 530€ / 4 nuits pour 660€ <br>
            "Aubépine" (une chambre double et sa salle de bain, une chambre avec 2 lits simples et sa salle de bain) : 3 nuits pour 590€ / 4 nuits pour 730€. <br>
            Les petits déjeuners ne sont pas compris pour les gîtes (ils sont proposés au prix de 18€ par jour et par personne)
        </p> 
    </article>

    <hr>

    <article>
        <h2>Camping Les Truffières</h2>

        <div>
            <a data-fancybox-group="gallery" title="Camping Les Truffières" class="fancybox" href="https://www.petit-mariage-entre-amis.fr/uploads/xavier-et-aurelie/accomodation/bigthumbs/camping-les-truffieres7642.jpg">
                <img alt="Camping Les Truffières" src="https://www.petit-mariage-entre-amis.fr/uploads/xavier-et-aurelie/accomodation/smallthumbs/camping-les-truffieres7642.jpg">
            </a>

            <p>
                Camping Les Truffières, 1100 chemin Belle Vue d air, 26230 Grignan, France <br>
                <strong>Site : </strong><a href="http://www.lestruffieres.com/index.html">Voir le site</a>
            </p>
        </div>  

        <p>
            Camping situé à 10 minutes en voiture du Domaine de Sarson proposant des mobil homes de 4 à 6 personnes et des tentes lodges de 30m<sup>2</sup> jusque 5 personnes. Possibilité de louer à la semaine ou au weekend (2 nuités minimum). 
        </p>
        <p>
            FORFAIT SEMAINE (du samedi 15h au samedi 10h ou dimanche 15h au dimanche 10h) : <br>
            Mobil Home 4 personne : 345€ (240€ pour 2 personnes) <br>
            Mobil Home 6 personnes : 400€ <br>
            Tente Lodge Kenya 5 personnes : 300€ 
        </p>
        <p>
            FORFAIT WEEKEND (tarifs pour 1 nuitée - 2 nuit min.) : <br>
            Mobil Home 4 personnes : 85€ (65€ pour 2 personnes) <br>
            Mobil Home 6 personnes : 110€ <br>
            Tente Lodge Kenya 5 personnes : 65€
        </p> 
    </article>

    <hr>

    <article>
        <h2>Chambre d'Hôte au Vieux Chêne</h2>

        <div>
            <a data-fancybox-group="gallery" title="Chambre d'Hôte au Vieux Chêne" class="fancybox" href="https://www.petit-mariage-entre-amis.fr/uploads/xavier-et-aurelie/accomodation/bigthumbs/chambre-d-hote-au-vieux-chene5082.jpg">
                <img alt="Chambre d'Hôte au Vieux Chêne" src="https://www.petit-mariage-entre-amis.fr/uploads/xavier-et-aurelie/accomodation/smallthumbs/chambre-d-hote-au-vieux-chene5082.jpg">
            </a>

            <p>
                Christine  HILAIRE<br>
                46 Route de Valréas, 84600 Grillon, France <br>
                <strong>Site : </strong><a href="https://www.gites-de-france.com/location-vacances-Grillon-Chambre-d-hotes-Au-Vieux-Chene-84G1045.html">Voir le site</a>
            </p>
        </div>  

        <p>
            Ancienne ferme familiale entourée de vignes, lavandes et chênes truffiers. <br>
            Grande cour ombragée et fleurie, avec salons de jardin et chaises longues. <br>
            1 ch. au r.d.c. avec s. d'eau et wc privés. 1 ch. au 1er étage avec s. d'eau et wc privés. 2 ch. au 1er étage avec s.d.b. et wc privés. <br>
            Salon-séjour et cuisine communs à disposition. Chauffage électrique.

        </p>
        <p>
            <strong>Tarifs :</strong> <br>
            55€/nuit sur une base de 2 personnes, petits déjeuners inclus.
        </p> 
    </article>

    <hr>

    <article>
        <h2>Chambre d'Hôte le Moulin de l'Aulière</h2>

        <div>
            <a data-fancybox-group="gallery" title="Chambre d'Hôte le Moulin de l'Aulière" class="fancybox" href="https://www.petit-mariage-entre-amis.fr/uploads/xavier-et-aurelie/accomodation/bigthumbs/chambre-d-hote-le-moulin-de-l-auliere1974.jpg">
              <img alt="Chambre d'Hôte le Moulin de l'Aulière" src="https://www.petit-mariage-entre-amis.fr/uploads/xavier-et-aurelie/accomodation/smallthumbs/chambre-d-hote-le-moulin-de-l-auliere1974.jpg">
            </a>

            <p>
                Marie Beraud<br>
                Les Vernets, 26230 Colonzelle, France <br>
                <strong>Site : </strong><a href="https://www.gites-de-france.com/location-vacances-Colonzelle-Chambre-d-hotes-Le-Moulin-De-L-auliere-26G99743.html">Voir le site</a>
            </p>
        </div>  

        <p>
            A 4 km de Grignan, en Drôme provençale, dans un parc en bordure de l'Aulière, Marie et Guy vous accueillent dans la bâtisse du XIXè siècle comprenant 5 chambres d'hôtes. Jus de fruit frais, palette de confitures maison, oeufs bio vous seront servis au petit-déjeuner. Nombreux restaurants à proximité.
        </p>
        <p>
            Au 1er étage, 2 chambres 2 et 3 personnes. Au 2ème étage, 2 chambres 2 personnes dont une avec terrasse et 1 chambre 3 personnes. Cuisine à disposition, séjour, cheminée, TV et bibliothèque dans chaque chambre. Piscine chauffée 10x5m (ouverte du 15/5 au 15/9).
        </p>
        <p>
            <strong>Tarifs :</strong> <br>
            Les chambres sont proposées au prix de 80€/nuit sur une base de 2 personnes, petits-déjeuners inclus.
        </p> 
    </article>

    <br>

{% endblock %}
