{% extends 'base.html.twig' %}

{% block body %}
    <h1>Admnistration</h1>

	<br>

	<div class="row">
		<div class="col-md-6">
			<h4>Configuration</h4>
			<a href="{{ path('admin_text_blocks') }}">Les zones de texte et les images</a> <br>
			<a href="{{ path('wedding_list_admin') }}">La liste de mariage</a> <br>
			<a href="{{ path('contest_admin_manage_teams') }}">Les équipes du concours photos</a>

			<hr>
			
			<h4>Gestion</h4>
			<a href="{{ path('admin_answers') }}">Les réponses aux invitations</a> <br>
			<a href="{{ path('wedding_list_admin_manage_contributions') }}">Les contributions au voyage de noce</a> <br>
			<a href="{{ path('carpool_admin') }}">Les offres de covoiturage</a> <br>
			<a href="{{ path('contest_admin_view_teams') }}">Le résultat du concours photos</a>
		</div>
		<div class="col-md-6">
			<h4>Blog</h4>
			<ul>
				{% for article in blog %}
					<li><a href="{{ path('article_edit', {'id': article.id}) }}">Editer <em>{{ article }}</em></a></li>
				{% endfor %}
				<li><a href="{{ path('article_new') }}">Ajouter un article</a></li>
			</ul>

			<hr>

			<h4>Hébergements</h4>
			<ul>
				{% for accommodation in accommodations %}
					<li><a href="{{ path('accommodation_edit', {'id': accommodation.id}) }}">Editer <em>{{ accommodation }}</em></a></li>
				{% endfor %}
				<li><a href="{{ path('accommodation_new') }}">Ajouter un hébergement</a></li>
			</ul>
		</div>
	</div>
	
{% endblock %}
