{% extends 'base.html.twig' %}

{% block body %}
    <h1>
    	<a href="{{ path('admin') }}" title="Revenir à la liste">Admnistration</a>
		<span style="font-size: 0.9em;">
			<span class="glyphicon glyphicon-chevron-right" style="font-size: 0.7em;" aria-hidden="true"></span>&nbsp;
	    	Modifier les zones de texte
    	</span>
    </h1>
	<br>

    {{ form_start(form) }}

		{% for field in form.textBlocks %}
			
			<label class="control-label required" for="{{ field.content.vars.id }}">
				{{ (field.vars.value.name)|trans() }}
			</label>
			{{ form_row(field) }}
			
		{% else %}
			
		{% endfor %}

	{{ form_end(form) }}
{% endblock %}
