{% extends 'base.html.twig' %}

{% block body %}
    
    <h1>
        <a href="{{ path('wedding_list') }}" title="Revenir à la liste">Liste de mariage</a>
        <span style="font-size: 0.9em;">
            <span class="glyphicon glyphicon-chevron-right" style="font-size: 0.7em;" aria-hidden="true"></span>&nbsp;
            Gérer la liste
        </span>
    </h1>

    <a href="{{ path('wedding_list_new') }}" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter un élément</a>

    <hr>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Elément</th>
                <th style="min-width: 100px;">Prix</th>
                <th>Divisible</th>
                <th>Financé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% set fundedItems = 0 %}
            {% set fundedAmount = 0 %}
            {% set requiredAmount = 0 %}

            {% for item in listItems %}
                {% set fundedItems = fundedItems + (item.gifted ? 1 : 0) %}
                {% set fundedAmount = fundedAmount + item.amountAlreadyFunded %}
                {% set requiredAmount = requiredAmount + item.price %}
                <tr>
                    <td>
                        <strong>{{ item.title }}</strong> <br>
                        <span title="{{ item.description }}">{{ item.description[:50] }}...</span> <br>
                        <strong>Lien : </strong><a href="{{ item.link }}">{{ item.link[:20] }}...</a>
                    </td>
                    <td>{{ item.price }} €</td>
                    <td>{% if item.splittable %} <span class="label label-success">Oui</span> {% else %} <span class="label label-danger">Non</span> {% endif %}</td>
                    <td>
                        {% if item.gifted %}
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    Oui
                                </div>
                            </div>
                        {% elseif item.amountAlreadyFunded %}
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ item.amountAlreadyFunded }}" aria-valuemin="0" aria-valuemax="{{ item.price }}" style="width: {{item.amountAlreadyFunded/item.price*100}}%;">
                                    {{ item.amountAlreadyFunded }} €
                                </div>
                            </div>
                        {% else %}
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    Non
                                </div>
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('wedding_list_edit', {'id': item.id}) }}" class="btn btn-xs btn-default" title="Modifier l'élément">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('wedding_list_delete', {'id': item.id}) }}" class="btn btn-xs btn-danger" data-role="confirmDeletion" title="Supprimer l'élément">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7" class="text-muted text-center">Aucun élément n'est renseigné pour l'instant.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ fundedItems }} éléments financés sur {{ listItems|length }} <br>
    {{ fundedAmount }} € financés sur {{ requiredAmount }} € (soit {{ (fundedAmount/requiredAmount*100)|round }}%)

{% endblock %}