{% extends 'base.html.twig' %}

{% block body %}
    
    <h1>
        <a href="{{ path('admin') }}" title="Revenir à la liste">Administration</a>
        <span style="font-size: 0.9em;">
            <span class="glyphicon glyphicon-chevron-right" style="font-size: 0.7em;" aria-hidden="true"></span>&nbsp;
            Gérer les contributions
        </span>
    </h1>

    <hr>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Nom</th>
                <th>Cadeau</th>
                <th>Montant de la contribution</th>
                <th>Message</th>
                <th>Paiement en ligne</th>
            </tr>
        </thead>
        <tbody>
            {% for gift in gifts %}
                <tr>
                    <td>Le {{ gift.createdAt|date('d/m/Y') }}</td>
                    <td>{{ gift.giver }}</td>
                    <td>{{ gift.listItem }}</td>
                    <td>{{ gift.amount }} €</td>
                    <td data-content="{{ gift.message | nl2br }}" title="{{ gift.message | e }}">
                        {% if gift.message and gift.message|length > 20 %}
                            {{ gift.message[:20] }} <strong onclick="this.parentNode.innerHTML = this.parentNode.getAttribute('data-content');">[...]</strong>
                        {% elseif gift.message %}
                            {{ gift.message | nl2br }}
                        {% else %}
                            <span class="text-muted">---</span>
                        {% endif %}
                    </td>
                    <td>{% if gift.onlinePayment %} <span class="label label-success">Oui</span> {% else %} <span class="label label-danger">Non</span> {% endif %}</td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text-muted text-center">Aucun élément n'est renseigné pour l'instant.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
