{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet"> 
{% endblock %}

{% block containerClass %}col-md-12{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

		    <h1>Albums photos</h1>

			<hr>
			<br>
		    {% if texts.legend_photos is defined and texts.legend_photos|trim is not empty %}
				<p>{{ texts.legend_photos|markdown }}</p>
		    {% endif %}
		    <br>

			<a href="{{ path('gallery_new') }}" class="btn btn-default">Créez un nouvel album et ajoutez vos photos</a>
			
			{% if is_granted('ROLE_ADMIN') or date('today') >= date(wedding_date) %}
				<a href="{{ path('contest_login') }}" class="btn btn-success pull-right">Concours photos</a>
			{% endif %}
		</div>
	</div>
	
	{% if is_granted('ROLE_ADMIN') or date('today') >= date(wedding_date) %}
		<div id="photo-stack-container">
		    {% for gallery in galleries if gallery.photos is not empty and not gallery.contest %}
				<a class="photo-stack" href="{{ path('gallery_show', {'id': gallery.id}) }}">
					<div>
						<img src="{{ vich_uploader_asset(gallery.photos|first, 'imageFile') }}" alt="{{ gallery.title }}, par {{ gallery.author }}" />
						<div class="photo-stack-title" title="{{ gallery.title }}, par {{ gallery.author }}">{{ gallery.title }}</div>
					</div>
				</a>
		    {% endfor %}
		</div>
	{% endif %}

	{% if is_granted('ROLE_ADMIN') or date('today') > date(wedding_date) %}
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<hr>
				<h3 class="text-center">Concours photos</h3>
			</div>
		</div>
		<div id="contest-stack-container">
		    {% for gallery in galleries if gallery.photos is not empty and gallery.contest %}
				<a class="photo-stack" href="{{ path('gallery_show', {'id': gallery.id}) }}">
					<div>
						<img src="{{ vich_uploader_asset(gallery.photos|first, 'imageFile') }}" alt="{{ gallery.author }}" />
						<div class="photo-stack-title" title="{{ gallery.author }}">{{ gallery.author }}</div>
					</div>
				</a>
		    {% endfor %}
		</div>
	{% endif %}

{% endblock %}