{% extends 'base.html.twig' %}

{% block body %}

    <h1>
    	<a href="{{ path('gallery') }}" title="Revenir aux albums">Albums photos</a>
		<span style="font-size: 0.9em;">
			<span class="glyphicon glyphicon-chevron-right" style="font-size: 0.7em;" aria-hidden="true"></span>&nbsp;
	    	<a href="{{ path('gallery_show', {'id': photo.gallery.id}) }}">{{ photo.gallery.title }}</a>
    	</span>
    </h1>
    <p>Photo de <b>{{ photo.author }}</b>, mise en ligne le <b>{{ photo.createdAt|date('d/m/Y à H:i') }}</b></p>
	
	<img class="img-thumbnail" alt="{{ photo.author }}" src="{{ vich_uploader_asset(photo, 'imageFile') }}">

{% endblock %}
