<article class="article-preview" id="article-{{article.id}}">
	<a href="{{ path('article_show', {'id': article.id}) }}" class="article-img" style="background-image: url('{{ vich_uploader_asset(article, 'imageFile') }}');">
	</a>
	<div class="article-preview-content">
		<h4><a href="{{ path('article_show', {'id': article.id}) }}">{{ article.title }}</a></h4>
		<p class="article-infos">
			<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
			Le {{ article.createdAt|date('d/m/Y') }}
			{%- if article.lastEditedAt is not null and article.lastEditedAt != article.createdAt %}, édité le {{ article.lastEditedAt|date('d/m/Y') }}{% endif %}
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
			{{ article.author }}
			{% if article.comments is not empty %}
				<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
				{{ article.comments|length }} commentaire{{ article.comments|length > 1 ? 's' : '' }}
			{% endif %}
		</p>
		<p>
			{{ article.content[:250]|markdown }}... <a href="{{ path('article_show', {'id': article.id}) }}">[Lire la suite]</a>
		</p>
	</div>
</article>