{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet"> 
{% endblock %}

{% block containerClass %}col-md-12{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
    		<h1>Co-voiturage</h1>
    		<h4>
    		{% if carpoolProposals is empty %}
				Pour l'instant, personne ne propose de co-voiturage
    		{% elseif carpoolProposals|length > 1 %}
				{{ carpoolProposals|length }} personnes proposent un co-voiturage
			{% else %}
				Une personne propose un co-voiturage
			{% endif %}
			et 
    		{% if carpoolSearches is empty %}
				personne ne recherche de place.
			{% elseif carpoolSearches|length > 1 %}
				{{ carpoolSearches|length }} personnes recherchent des places.
			{% else %}
				une personne recherche des places.
			{% endif %}
			</h4>

			{% if is_granted('ROLE_ADMIN') %}
				<div class="dropdown pull-right" style="z-index: 10;">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownAdmin">
						<li><a href="{{ path('carpool_admin') }}">Afficher la vue complète</a></li>
					</ul>
				</div>
			{% endif %}

    		<div class="dropdown">
    			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownNewCarpool" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    				Ajoutez une annonce
    				<span class="caret"></span>
    			</button>
    			<ul class="dropdown-menu" aria-labelledby="dropdownNewCarpool">
    				<li><a href="{{ path('carpool_proposal_new') }}">Proposez un trajet</a></li>
    				<li><a href="{{ path('carpool_search_new') }}">Recherchez des places</a></li>
    			</ul>
    		</div>
    		<hr>
    		Cliquez sur un post-it pour afficher plus d'informations.
		</div>
	</div>

	<div class="postit-container">
	    {% for proposal in carpoolProposals %}
	    	<div class="postit-wrapper {% if proposal.isCompleted %}postit-wrapper-checked{% endif %}">
		    	<a class="postit" href="{{ path('carpool_proposal_show', {'id': proposal.id}) }}">
		    		<b>{{ proposal.author }}</b> propose un trajet 
		    		<br>
		    		<b>{{ proposal.direction|lower }}</b>
		    		<br> 
		    		{% if proposal.direction starts with "Retour" %}vers{% else %}depuis{% endif %} 
		    		<b>{{ proposal.location }}</b>
		    		<br>
		    		pour <b>{{ proposal.nbrOfSeats > 1 ? proposal.nbrOfSeats~' personnes' : '1 personne' }}</b>.
		    	</a>
	    	</div>
	    {% endfor %}
	    {% for search in carpoolSearches %}
	    	<div class="postit-wrapper {% if search.isCompleted %}postit-wrapper-checked{% endif %}">
		    	<a class="postit postit-blue" href="{{ path('carpool_search_show', {'id': search.id}) }}">
		    		<b>{{ search.author }}</b> recherche un trajet 
		    		<br>
		    		<b>{{ search.direction|lower }}</b>
		    		<br> 
		    		{% if search.direction starts with "Retour" %}vers{% else %}depuis{% endif %} 
		    		<b>{{ search.location }}</b>
		    		<br>
		    		pour <b>{{ search.nbrOfSeats > 1 ? search.nbrOfSeats~' personnes' : '1 personne' }}</b>.
		    	</a>
	    	</div>
	    {% endfor %}
	</div>

{% endblock %}
