{% extends 'base.html.twig' %}

{% block body %}
    <h1>
    	<a href="{{ path('carpool') }}" title="Revenir à la liste des annonces">Co-voiturage</a>
		<span style="font-size: 0.9em;">
			<span class="glyphicon glyphicon-chevron-right" style="font-size: 0.7em;" aria-hidden="true"></span>&nbsp;
	    	Annonce de {{ proposal.author }}
	    </span>
    </h1>

	{% if proposal.isCompleted %}
		<p class="alert alert-success h4 text-center">{{ proposal.author }} a déjà trouvé ses {{ proposal.nbrOfSeats }} passagers.</p>
	{% endif %}

	<table class="table table-bordered table-striped {% if proposal.isCompleted %}text-muted{% endif %}">
		<tbody>
			<tr>
				<th>Type d'annonce</th>
				<td>Proposition de trajet</td>
			</tr>
			<tr>
				<th>Date de publication</th>
				<td>Le {{ proposal.createdAt|date('d/m/Y') }}</td>
			</tr>
			<tr>
				<th>Ville de départ</th>
				<td>{{ proposal.location }}</td>
			</tr>
			<tr>
				<th>Sens du trajet</th>
				<td>{{ proposal.direction }}</td>
			</tr>
			<tr>
				<th>Nombre de places proposées</th>
				<td>{{ proposal.nbrOfSeats }} <b class="text-danger">{% if proposal.reservedSeats %}- {{ proposal.reservedSeats }} déjà réservées{% endif %}</b></td>
			</tr>
			<tr>
				<th>Détails de la proposition</th>
				<td>{{ proposal.details|nl2br }}</td>
			</tr>
		</tbody>
	</table>

	<br>


	{% if proposal.isCompleted %}
		<a href="#" class="btn btn-default disabled text-muted">Je suis intéressé !</a>
	{% else %}
		<a href="{{ path('carpool_proposal_answer_new', {'id': proposal.id}) }}" class="btn btn-default">Je suis intéressé !</a>
	{% endif %}
	
	{% if proposal.answers is not empty %}
		<hr>
		<h3>Réponses à l'annonce</h3>

		{% for answer in proposal.answers if answer.status != constant('STATUS_REJECTED', answer) %}
			{% if answer.status == constant('STATUS_PENDING', answer) %}
				<span class="label label-primary">{{ answer.status }}</span>
			{% elseif answer.status == constant('STATUS_ACCEPTED', answer) %}
				<span class="label label-success">{{ answer.status }}</span>
			{% endif %}
			{{ answer.author }} souhaite réserver {{ answer.nbrOfSeatsRequested }} place(s).
			<br>
		{% endfor %}
	{% endif %}
{% endblock %}
