<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Site de mariage de Xavier et Aurélie{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/flatpickr.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/main.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Armata|Tangerine" rel="stylesheet"> 
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
		<header class="container">
			<img class="img-responsive" src="{{ asset('images/guirlande.png') }}" alt="Mariage de Xavier et Aurélie">
			<h1>Aurélie & Xavier</h1>
			<h2>30 mai 2019</h2>
			{% set marriageDate = '2019-05-30' %}
			{% set difference = date(marriageDate).diff(date('today')) %}
			<h3>J-{{ difference.days }}</h3>
			{% if app.user %}
				<nav class="navbar">
					<ul class="nav navbar-nav">
						{% set route = app.request.attributes.get('_route') %}
						<li {% if route == 'homepage' %}class="active"{% endif %}>
							<a href="{{ path('homepage') }}">Accueil</a>
						</li>
						<li {% if route == 'blog' or route starts with 'article' %}class="active"{% endif %}>
							<a href="{{ path('blog') }}">Blog</a>
						</li>
						<li {% if route starts with 'gallery' %}class="active"{% endif %}>
							<a href="{{ path('homepage') }}">Albums photos</a>
						</li>
						<li {% if route == 'access_map' %}class="active"{% endif %}>
							<a href="{{ path('access_map') }}">Plan d'accès</a>
						</li>
						<li {% if route starts with 'carpool' %}class="active"{% endif %}>
							<a href="{{ path('carpool') }}">Co-voiturage</a>
						</li>
						<li {% if route starts with 'accommodation' %}class="active"{% endif %}>
							<a href="{{ path('accommodations') }}">Hébergements</a>
						</li>
						<li {% if route == 'contact' %}class="active"{% endif %}>
							<a href="{{ path('contact') }}">Contact</a>
						</li>
						<li {% if route == 'answer' %}class="active"{% endif %}>
							<a href="{{ path('answer') }}">Réponse</a>
						</li>
						<li {% if route == 'wedding_list' %}class="active"{% endif %}>
							<a href="{{ path('wedding_list') }}">Liste de mariage</a>
						</li>
					</ul>
				</nav>
			{% endif %}
		</header>

		<div class="container">
			<section class="row">
				<div class="{% block containerClass %}col-md-8 col-md-offset-2{% endblock %}">
	        		{% block body %}{% endblock %}
				</div>
			</section>
		</div>
        
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/flatpickr.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
